---
---
$primary: #f8891b;
$gap: 0px; // Gap from left hand side.
// Import Main CSS file from theme
@import "main";

// Custom Styles
.content {
	max-width: 80%;
	margin: auto;
}

li.gallery {
	float: left;
	margin: 2%;
	list-style: none;
}

.logo {
	background-size: contain !important;
	margin-left: 2%;
	margin-right: 2%;
}

#highlightBar {
 border: 1px solid red;
}

